@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Catrinity;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Catrinity-Regular.otf') format('otf');
}